.blinker {
    animation-duration: 5s;
    animation-name: slidein;
    animation-iteration-count: infinite ;
}

@keyframes slidein {
    0% {
        opacity: 1;
        color:rgb(255,20,20);
        transform: translateX(0%);
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        color:rgb(25,200,20);
        transform: translateX(100%);
    }
}

