.blinker {
  animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite ;
}

@keyframes slidein {
  from {
    color:rgb(255,20,20);
    transform: translateX(0%);
  }

  to {
    color:rgb(25,200,20);
    transform: translateX(100%);
  }
}

